/* Style sheet created by: Josh Razum 4/23/2020 */

/* Style for body specifies a background color */
body {
	background-color: #E0F0FF;
margin: auto;



}
img {
	max-width: 100%;
}

	.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 1em;
}


/* Style for the container centers the page and specifies the width */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}



/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	font-family: Verdana, Arial, serif;
	font-size: 2em;
	margin-top: -.5em;
	margin-bottom: 0em;
	margin-left:-2em;
	text-align: center;
	
	color: #000066;
	padding: .5em;
	background-color: #FFFFFF;
	left: 10em;
}


#banner {
	text-align: center;
}

/* Style for nav specifies text properties */


nav {
	font-family: Lucida, "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	float: center;
	margin-top: -1.25em;
	margin-left: -1em;
	margin-right: -1em;
	margin-bottom: -1em;
	width: 102%;

}


	
/* sytle specifies padding and margins for an unoreded list */
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Styke fir nav li specificys the background color, rounded corners, removes bullet style, applies ,argins and padding for the list items within the navigation */
nav li {
		background-color: #1a99a7;
		list-style-type: none;
		margin: 0.4em;
		padding: 1em;
}

/*style changes navigation link text color to white and removes underline */

nav li a{
	color: #FFFFFF;
	text-decoration: none;
}


/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	display: block;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: -.25em;
	padding: 1em;
	border-radius: 1em;
	background-color: #FFFFFF;
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
}

.desktop {display: none;}



/*style for tablet layout*/

@media only screen and (min-width: 481px) {

	
	img {
	width: 50%;
	height: 50%;
	}
	
	nav li{
		display: inline;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
		padding-left: 0;
		padding-right: 0;
		width: 5%;
	}
		
	main{
		clear: left;
	}
	
		.mobile{
			display: inline;
		}
		


		
		.desktop{
			display: inline;
	
		}
			nav ul{
		margin: 0;
		padding-left: 0.50%;
		padding-right: 0.50%;
	}
	nav li{
		border-radius: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 14.24%;
		white-space: nowrap;
	}
	nav li a{
		display: inline-block;
		padding: .2em;
		font-size: .2em;
	}
		


.google {
	display: none;
}
}
@media only screen and (min-width: 950px) {
	#container{
		width: 100%;
	}
	
	
	img {
	width: 20%;
	}
	
	nav ul{
		margin: 0;
		padding-left: 0.50%;
		padding-right: 0.50%;
	}
	nav li{
		border-radius: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 16.6%;
		white-space: nowrap;
	}
	nav li a{
		display: inline-block;
		padding: 1em;
		font-size: 1.25em;
	}
		
	main{
			border: none;
			border-radius: 2em;
			box-shadow: 1em 1em 1em #331400;
			margin-top: 7em;
			margin-right: 2em;
			margin-bottom: 1em;
			margin-left: 2em;
			padding: 1.5em;
			font-family: Trebuchet MS;
		}
	body{
	background: -moz-linear-gradient(#FFFFFF, #3366CC);
	background: -o-linear-gradient(#FFFFFF, #3366CC);
	background: -webkit-linear-gradient(#FFFFFF, #3366CC);
	background: linear-gradient(#FFFFFF, #1a99a7);
	}	
		
		
#edc5dc, #581BE7);
nv li a:link{
	color: #FFFFFF;
}

nav li a:hover{
	color: #CCFFCC;
	font-size: 1.5em;
	}
	
	footer {
		font-family: Trebuchet MS;
	}

}

	
	
		
	
	

	
	
	
	
	
